:root {
	--background-color: #1a1a1a;
	--border-color: #2d2d2d;
	--border-radius: 6px;

	--input-background-color: #242424;
	--card-background-color: #1a1a1a;
	--button-background: #242424;
	--button-background-hover: #3a3a3a;


	--text-color: #ffffffef;
	--text-color-light: #868686;
	--text-color-hover: #aaaaaa;

	--primary-color: #5aa7eb;
	--primary-color-opacity: #5aa7eb17;
	--primary-color-hover: #549bd8;

	--mobile-padding: 18px;
	
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f9f9f9;
		--border-color: #acacac;
		
		
		--input-background-color: #ececec;
		--card-background-color: #f9f9f9;
		--button-background: #ececec;


		--text-color: #213547;
		--text-color-light: #868686;
		--text-color-hover: #aaaaaa;
	
		--button-background-hover: #dfdfdf;
	}
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


	--cocoa-brown: #d4783eff;
	--pumpkin: rgb(240, 145, 86);
	--pumpkin-2: rgb(240, 163, 116);
	--russet: #8c522dff;
	--eerie-black: #201f1eff;
	--jet: #403b3bff;
	--silver: #b8b3b1ff;
	/* --timberwolf: rgb(247, 241, 238); */
	--timberwolf: #f1f1f1;

	--primary-color: var(--pumpkin);
	--primary-color-hover: var(--pumpkin-2);
	--primary-color-opacity:  #f4803787;

	--input-background-color: var(--timberwolf);
	--border-color: var(--silver);
	--border-color-hover: var(--timberwolf);
	--button-background: var(--timberwolf);
	--button-background-hover: var(--silver);
	--card-background-color: var(--timberwolf);
	
	--text-color: var(--eerie-black);
	color: var(--text-color)
}

@media (max-width: 868px) {
	.desktop {
		display: none;
	}
}

@media (min-width: 868px) {
	.mobile {
		display: none;
	}
}


body {
  margin: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.page{
	overflow-y: auto;
}

.page-frame{
	height: 100dvh;
	width: 100dvw;
	background: var(--alabaster);
	padding: 32px max(20%, 160px);
	box-sizing: border-box;
	overflow: hidden;
}

.page-frame__content{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 18px;
	box-sizing: border-box;

	border-radius: 4px;
	justify-content: center;
}

@media (max-width: 768px){
	.page-frame{
		padding: 24px 16px;
	}
}

input{
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
  

h1, h2, h3, h4, h5, h6{
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 600;
	margin: 0;
}